html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: white;

  background: white;
  color: #333;
  font-size: 30px;
}

.mathquill-editable.hasCursor, .mathquill-editable .hasCursor {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mathquill-editable .mathquill-root-block, .mathquill-embedded-latex .mathquill-editable .mathquill-root-block {
  border: none;
  padding: 2px;
}

body {

}

#header .content, #main {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 900px;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 4em;
}
li.item {
  margin: 0;
  padding: 0;
  display: block;
}
li.item:last-child mathquill{
  padding-bottom: 8em;
}
mathquill {
  width: 100%;
  padding: 0.1em 0;
}
.doc-list {
  
}
#header {
  width: 100%;
  height: 75px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
}
a:link {
  color: #08c;
}
#header .buttons {
  text-align: right;
  float: right;
}
#header h1 {
  margin: 0;
  line-height: 75px;
  float: left;
  font-size: 15px;
}
#header h1 input {
  font-size: 15px;
  line-height: 1.5em;
  border: none;
  background: transparent;
  outline: none;
}
#header .title {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: lighter;
}
#header .title h3 {
  margin: 0;
  line-height: 2em;
  font-size: 12px;
  font-weight: normal;
}
#header .button {
  line-height: 75px;
  margin-left: 8px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 8px 24px;
  color: #555;
  font-weight: lighter;
  -webkit-transition: background 0.1s ease-out, border-color 0.1s ease-out;
}
#header .button:hover {
  background: #eee;
}
#header .button:active {
  background: #555;
  color: white;
  border-color: black;
  -webkit-box-shadow: black 0px 1px 4px inset;
  text-shadow: 0px 2px 3px black;
}


mathquill .cursor {
  border-left: 3px solid #09f !important;
  margin-right: -3px !important;
}